.row
  %form.form-search.span10
    .input-append.span12
      %input.span12.search-query#searchbox(type='text' autocomplete="off" placeholder='Tell me what you\'re looking for....' value='#{query_string.gsub(/\?/, '*')}')
      %button.btn#search_submit(type="submit") Search
.row
  - unless query_string == ""
    .span6
      %form#filter.form-horizontal(data-spy='affix' data-offset-top='5' method='POST' action="#{request.base_url}/search?#{query_string.to_s}")
        %fieldset
          %legend
            Available Filters
          - (filter_fields.keys-filters.keys).each do |field|
            .control-group
              %label.control-label
                #{field.to_s.gsub(/_/, ' ').strip.capitalize}:
              .controls
                - if filter_fields[field].length > 5 || filter_fields[field].length == 0
                  %input.filter.input-medium(type='text' id="#{field}" name="#{field}" value="#{filters[field.to_s].to_s}")
                - else
                  %select.filter.input-medium(id="#{field}" name="#{field}")
                    %option All
                    - filter_fields[field].each do |option|
                      - if option == filters[field.to_s]
                        %option(selected='selected') #{option}
                      - else
                        %option #{option}
        - if filters.length > 0
          %fieldset
            %legend
              Applied Filters
            - filters.each do |k,v|
              .control-group
                %label.control-label
                  #{k.gsub(/_/, ' ').strip.capitalize}:
                .controls
                  %input.filter.input-medium(type='text' id="#{k}" name='#{k}' value="#{v}")
        .form-actions
          %a#reset_filters.btn.btn-error(href="#{request.base_url}/search?#{query_string.to_s}") Reset
          %button#submit_filters.btn.btn-primary(type='submit') Filter
    .span4
      #results.well
        %h4.span6
          Results: #{@count}

        %button#download_results.btn.btn-success.pull-right
          %i.icon-download-alt.icon-white
          Download

      #box
        - @results.each do |result|
          = haml :_result, :locals=>{:result=>result, :display=>(result[:_short_list] )}
= stylesheet_link_tag '/stylesheets/search.css'
= javascript_include_tag '/js/underscore-min.js'
= javascript_include_tag '/js/bootstrap-typeahead.js'
= javascript_include_tag '/js/bootstrap-affix.js'
= javascript_include_tag '/js/bootstrap-dropdown.js'
= javascript_include_tag '/js/search.js'
